* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #091921;

}

.clock {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 100px;
    background: url("clock.png") center;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 5px #091921 solid;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
    inset 0 -15px 15px rgba(255,255,255,0.05),
    0 15px 15px rgba(0,0,0,0.3),
    inset 0 15px 15px rgba(0,0,0,0.3)
}

.hour {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90px;
    width: 7px;
    background-color: #ff105e;
    border-radius: 25px;
    transform: translateX(-50%);
    transform-origin: 50% 0;
}

.minute {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 140px;
    width: 4px;
    border-radius: 50px;
    background-color: #f2f2f2;
    transform: translateX(-50%);
    transform-origin: 25% 0;
}

.second {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 160px;
    width: 1px;
    background-color: tomato;
    transform: translateX(-50%);
    transform-origin: 25% 0;
    border-radius: 10px;
}

.dot {
    position: absolute;
    top: 49%;
    left: 50%;
    height: 10px;
    width: 10px;
    border-radius: 40px;
    background-color: rgb(0, 0, 0);
    transform: translateX(-50%);
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #f2f2f2;
    font-size: 35px;
    font-family: 'Orbitron';
    text-shadow: 2px 2px 5px #CE5937;
}